.container {
	position: relative;
	float: left;
	overflow: hidden;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 300px;
}

.container img {
	display: block;
	margin: 5px;
}

.container .label {
	position: absolute;
	width: 100%;
	text-align: center;
	top: calc(50% - 18px);
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	padding: 10px 0;
	opacity: 0;
	transition: opacity 1s;
	font-family: verdana;
	font-size: 16px;
	line-height: 16px;
}

.container:before, .container:after {
	position: absolute;
	box-sizing: border-box;
	content: '';
	border: 2px solid #000;
	width: 100%;
	transition: all 1s;
	height: 15%;
    visibility: hidden;
}

.container:before {
	border-bottom: none;
}

.container:after {
	border-top: none;
	bottom: 0;
}

.container:hover:before, .container:hover:after {
	height: 55%;
    width: 100%;
    visibility: inherit;
}

.container:hover .label {
	opacity: 1;
}