.background-image 
{
    width: 100px;
    height: 100px;
   
    
}
button
{
    width: 70%;
    height: 70%;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background-color: aqua;
    border: 1px solid black;
    font-size: 40px;
    transition: all 0.4s;
}
button:hover 
{
    background-color: white;
    color: aqua;
}