* {
    box-sizing: border-box;
}
body {
    padding-top:0;
    margin: 0;
}
.container {
    background-color: #98fb98;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
.images {
    width: 24%;
    float: left;
    position: relative;
    text-align: center;
    margin: 10px 0.5%;
}
.wspolna-klasa {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}
.img1 {
    background-image: url(img/product-1.jpg);
    
}
.img2 {
    background-image: url(img/product-2.jpg);
    
}
.img3 {
    background-image: url(img/product-3.jpg); 
   
}
.img4 {
    background-image: url(img/product-4.jpg); 
}

.mask-effect {
    background-color: rgba(250,118,56,0.7);
    width: 100%;
    height: 200px;
    top: 0px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
a {
    position: absolute;
    text-align: center;
    color: white;
    transform: translateX(-50%);
    top:35%;
    font-size: 45px;
    
    
}
.images:hover .mask-effect {
    opacity: 1;
}