@media all and (max-width: 992px) {
  .img {
    width: 25%;
    margin-top: 10%;
    margin-left: 15%;
}
}
@media all and (max-width: 480px) {
  .img {
    width: 75%;
    margin-top: 10%;
    margin-left: 10%;
  }
   
}