* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/comment_RTWtWKQCGT4O60rIwz8qVP4vkmaBgKoV.jpg);
    
}
.kurtyna {
    background-color: aqua;
    width: 100%;
    height: 50%;
    animation: kurtyna 5s infinite;
}
.kurtyna1 {
    background-color: brown;
    width: 100%;
    height: 50%;
    animation: kurtyna1 5s infinite;
}
@keyframes kurtyna {
    0% {
        transform: translateY(-50vh)
    }
     100% {
        transform: translateY(0vh)
    }
} 
@keyframes kurtyna1 {
    0%{
        transform: translateY(50vh)
    }
     100% {
        transform: translateY(0vh)
    }
}