* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}
p {
    color: deeppink;
    font-size: 32px;
}
.parallax1 {
    background-image: url(img/comment_RTWtWKQCGT4O60rIwz8qVP4vkmaBgKoV.jpg);
}
.parallax2 {
    background-image: url(img/zdjecie.jpg);
}
.content{
    text-align: center;
    background-color: #fff
}